<div class="users-new-wrapper">
  <div class="users-container">
    <div class="row">
      <div class='col-md-8 mx-auto'>
        <% @users.each do |user| %>
          <div class="card">
            <h5 class="card-header">user.name</h5>
            <div class="card-body">
              <% user.daily_habits do |daily_habit| %>
                <h5 class="card-title">Daily Habit<%= daily_habit %></h5>
              <% end %>
              <% user.weekly_habits do |weekly_habit| %>
                <h5 class="card-title">Weekly Habit<%= weekly_habit %></h5>
              <% end %>
            </div>

            <div class="card-body">
              <%= user.categories.each do |category| %>
              <p class="card-text"><%= category.name %>,</p>
              <a href="#" class="btn btn-primary">Details</a> 
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>