<div class="hobby-index-wrapper">
  <div class="container">
    <% @hobbys.each do |hobby| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="hobby-index-single">
            <p class="hobby-title">
              <%= hobby.title %>
              <%= hobby.impression %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>