
h1 {
  font-weight: 40;
  font-size: 22px;
}

h2 {
  font-weight: 20;
  font-size: 18px;
}

h5{
  font-size: 12px;
}

.text-white {
  color: #44c2c9;
}

.btn-white {
  color: #44c2c9;
  border: 2px solid #44c2c9;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  margin-bottom: 20px;
  
  &:hover {
    color: #fff;
  }
}

.about-wrapper {
  width: 100vw;
  height: 100vh;
  // background-image: url('icons/bg-top.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #F5FFFA;
  overflow: hidden;
}

.about-container {
  padding-top: 100px;
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fffafa;

  .users-new-container {
    padding-top: 100px;
  }
}

.users-wrapper {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fffafa;

  .users-container {
    padding-top: 100px;
  
    .card-header{
      background-color: #ffe4e1;
    }
  }
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}


.habits-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f5fffa;
  
  .habits-container {
    padding-top: 100px;
    
    .card-header{
      background-color: #ccffff;

      .btn-info { 
        margin-top: 50px;
        margin-bottom: 50px;
        
        .btn{
         text-align: center
         
        
        }  
      }
    }
  }
}

.hobbies-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fffff0;
  
  .hobbies-container {
    padding-top: 100px;
    
    .dropdown{
       margin-bottom: 20px;

      .card-header{
        background-color: #ffcc66;
      }
    }
  }
}

.btn-info{
  margin-top: 15px;
  margin-bottom: 15px;
}


/* navbar */

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  opacity: 0.9;
  a {
    color: #fff;
    
    &:hover {
      color: #fff;
    }
  }
  .dropdown-menu a {
    color: #000;
  }
}

.navbar-brand {
  padding: 0px;
  margin-top: 10px;
}
.nav-link img{
  height: 30px;
  width: 100%;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* sidebar */
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #fffafa;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.users.follow {
  padding: 0;
}
