h1, h2 {
  font-weight: 70;
}

.text-white {
  color: #44c2c9;
}

.btn-white {
  color: #44c2c9;
  border: 2px solid #44c2c9;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  margin-bottom: 20px;
  
  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('bg-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: ffffacd;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 60px;
  }
}

.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: ffffacd;

  .users-new-container {
    padding-top: 100px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}


.habits-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: ffffacd;
  
  .habits-container {
    background-color: #f5fffa;
    padding-top: 50px;
    
    .card-header{
    background-color: #afeeee;
    
      .card-body{
        
      }
    
      .btn-info { 
        margin-top: 50px;
        margin-bottom: 50px;
        
        .btn{
         text-align: center

        }
      }
    }
  }
}

.hobbies-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: ffffacd;
  
  .hobbies-container {
    background-color: #fffff0;
    padding-top: 50px;
      
    .card-header{
      background-color: #ffd700;
      
      .card-deck{
         margin-buttom : 10px;
      }
    }
  }
}

.btn-info{
  margin-top: 15px;
  margin-bottom: 15px;
}


/* navbar */

.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  a {
    color: #fff !important;
  }

.navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }

img {
    height: 10px;
  }
}
.nav > li > a > img {
  width:15%;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: red;
//   }
// }
