

.btn{
    color: #1ea0b0!important;
}

.about-habity{
    background-color: #e6f3f4;
}


@media screen and (max-width:760px) {
    .jumbotron{
        background-image: url('icons/bg-top-ps.jpeg');
        height: 100vh;
        background-color: none;
    }    

    .title{
        margin-top: 450px;
    }

    h1{
        font-size: 35px!important;
    }

    h3, h4{
        color: #1ea0b0;
    }

    h5{
        font-size: 16px!important;
    }
}


@media screen and (min-width:761px) {
    .jumbotron{
        background-image: url('icons/bg-top-pc.jpeg');
        background-color: none!important;
        height: 95vh;
    }    
    .title{
        margin-top: 500px;
    }

    h1{
        font-size: 45px!important;
    }

    h3, h4{
        color: #1ea0b0;
    }

    h5{
        font-size: 16px!important;
    }
}
